.swiper-button-next,
.swiper-button-prev {
  color: #D4AF37 !important;
  width: 38px !important;
  height: 38px !important;
  border-radius: 9999px;
  background: rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 16px !important;
  font-weight: bold;
}